<meta charset="utf-8">

<!-- 先设置 title，覆盖 seo.html 的默认设置 -->
{% if page.title %}
  <title>{{ page.title | escape }} - {{ site.title | escape }}</title>
{% else %}
  <title>{{ site.title | escape }} - Homepage</title>
{% endif %}

{% include seo.html %}

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<meta http-equiv="cleartype" content="on">
<base target="_blank">
